@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgba(0, 0, 0, 0.57); */
  background-color: rgb(28 25 23);
  /* background-color: rgb(23, 23, 28); */
}

.splide__arrow--prev {
  left: -3em !important;
  background-color: silver !important;
}

.splide__arrow--next {
  right: -3em !important;
  background-color: silver !important;
}

@media screen and (max-width: 1205px) {
  .splide__arrow--prev {
    left: 1em !important;
    background-color: silver !important;
  }

  .splide__arrow--next {
    right: 1em !important;
    background-color: silver !important;
  }
}

@media screen and (max-width: 700px) {
  .splide__arrow--prev {
    left: 1em !important;
    background-color: silver !important;
    margin-top: -2rem;
  }

  .splide__arrow--next {
    right: 1em !important;
    background-color: silver !important;
    margin-top: -2rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
